body {
  font-family: 'Roboto', sans-serif;
  padding: 0%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e5f0fd;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}